USE [UTeM Student Attendance App]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 16/9/2026 2:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[SubjectID] [char](8) NOT NULL,
	[QRSessionID] [int] NOT NULL,
	[MatricNo] [char](10) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Status] [varchar](18) NOT NULL,
	[Location] [varchar](255) NOT NULL,
	[IsValid] [int] NOT NULL,
	[IsRegisteredStudent] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC,
	[QRSessionID] ASC,
	[MatricNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 16/9/2026 2:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [char](4) NULL,
	[Year] [int] NOT NULL,
	[Session] [int] NOT NULL,
	[Group] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 16/9/2026 2:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [char](4) NOT NULL,
	[FacultyName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 16/9/2026 2:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[DeviceID] [int] IDENTITY(1,1) NOT NULL,
	[MatricNo] [char](10) NULL,
	[DeviceName] [varchar](100) NOT NULL,
	[AndroidID] [varchar](50) NOT NULL,
	[LastUsed] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrolment]    Script Date: 16/9/2026 2:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrolment](
	[EnrolmentID] [int] IDENTITY(1,1) NOT NULL,
	[MatricNo] [char](10) NOT NULL,
	[SubjectID] [char](8) NOT NULL,
	[Status] [int] NOT NULL,
	[SemesterID] [int] NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK__Enrolmen__5C0E5FEF1907C793] PRIMARY KEY CLUSTERED 
(
	[EnrolmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordReset]    Script Date: 16/9/2026 2:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordReset](
	[ResetID] [int] IDENTITY(1,1) NOT NULL,
	[MatricNo] [char](10) NULL,
	[StaffID] [char](10) NULL,
	[Email] [varchar](100) NOT NULL,
	[VerificationCode] [varchar](6) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[ExpireTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QRSession]    Script Date: 16/9/2026 2:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRSession](
	[QRSessionID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [char](8) NOT NULL,
	[StaffID] [char](10) NOT NULL,
	[SessionType] [char](7) NOT NULL,
	[QRCode] [varchar](36) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[ExpiryTime] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK__QRSessio__5910B2677DCDC72F] PRIMARY KEY CLUSTERED 
(
	[QRSessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QRSessionClass]    Script Date: 16/9/2026 2:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRSessionClass](
	[QRClassID] [int] IDENTITY(1,1) NOT NULL,
	[QRSessionID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QRClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 16/9/2026 2:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[SemesterID] [int] NOT NULL,
	[Week1Date] [datetime] NOT NULL,
	[Week15Date] [datetime] NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK__Semester__043301BD92CA6421] PRIMARY KEY CLUSTERED 
(
	[SemesterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 16/9/2026 2:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [char](10) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Role] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 16/9/2026 2:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[MatricNo] [char](10) NOT NULL,
	[ClassID] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MatricNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 16/9/2026 2:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectID] [char](8) NOT NULL,
	[CourseID] [char](4) NULL,
	[SubjectName] [varchar](100) NOT NULL,
	[StudentYear] [int] NOT NULL,
	[SemesterID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teaching]    Script Date: 16/9/2026 2:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teaching](
	[StaffID] [char](10) NOT NULL,
	[SubjectID] [char](8) NOT NULL,
	[ClassID] [int] NOT NULL,
	[LectureStatus] [int] NOT NULL,
	[LabStatus] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC,
	[SubjectID] ASC,
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT ((1)) FOR [IsValid]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([MatricNo])
REFERENCES [dbo].[Student] ([MatricNo])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK__Attendanc__QRSes__5535A963] FOREIGN KEY([QRSessionID])
REFERENCES [dbo].[QRSession] ([QRSessionID])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK__Attendanc__QRSes__5535A963]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Subject]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD FOREIGN KEY([MatricNo])
REFERENCES [dbo].[Student] ([MatricNo])
GO
ALTER TABLE [dbo].[Enrolment]  WITH CHECK ADD  CONSTRAINT [FK__Enrolment__Matri__48CFD27E] FOREIGN KEY([MatricNo])
REFERENCES [dbo].[Student] ([MatricNo])
GO
ALTER TABLE [dbo].[Enrolment] CHECK CONSTRAINT [FK__Enrolment__Matri__48CFD27E]
GO
ALTER TABLE [dbo].[Enrolment]  WITH CHECK ADD  CONSTRAINT [FK_Enrolment_Semester] FOREIGN KEY([SemesterID])
REFERENCES [dbo].[Semester] ([SemesterID])
GO
ALTER TABLE [dbo].[Enrolment] CHECK CONSTRAINT [FK_Enrolment_Semester]
GO
ALTER TABLE [dbo].[Enrolment]  WITH CHECK ADD  CONSTRAINT [FK_Enrolment_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrolment] CHECK CONSTRAINT [FK_Enrolment_Subject]
GO
ALTER TABLE [dbo].[PasswordReset]  WITH CHECK ADD FOREIGN KEY([MatricNo])
REFERENCES [dbo].[Student] ([MatricNo])
GO
ALTER TABLE [dbo].[PasswordReset]  WITH CHECK ADD FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[QRSession]  WITH CHECK ADD  CONSTRAINT [FK__QRSession__Staff__5070F446] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[QRSession] CHECK CONSTRAINT [FK__QRSession__Staff__5070F446]
GO
ALTER TABLE [dbo].[QRSession]  WITH CHECK ADD  CONSTRAINT [FK_QRSession_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QRSession] CHECK CONSTRAINT [FK_QRSession_Subject]
GO
ALTER TABLE [dbo].[QRSessionClass]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
GO
ALTER TABLE [dbo].[QRSessionClass]  WITH CHECK ADD  CONSTRAINT [FK__QRSession__QRSes__6754599E] FOREIGN KEY([QRSessionID])
REFERENCES [dbo].[QRSession] ([QRSessionID])
GO
ALTER TABLE [dbo].[QRSessionClass] CHECK CONSTRAINT [FK__QRSession__QRSes__6754599E]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Semester] FOREIGN KEY([SemesterID])
REFERENCES [dbo].[Semester] ([SemesterID])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Semester]
GO
ALTER TABLE [dbo].[Teaching]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
GO
ALTER TABLE [dbo].[Teaching]  WITH CHECK ADD FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Teaching]  WITH CHECK ADD  CONSTRAINT [FK_Teaching_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teaching] CHECK CONSTRAINT [FK_Teaching_Subject]
GO
